<!DOCTYPE html>
<html>
<head>
    <title>SWE EG Assessment</title>
</head>
<body>
    <h1>API Endpoints</h1>
    <ul>
        <li>
            <h3>/Average-Timer</h3>
            <p>Endpoint that calculates and returns the average clock timer for rounds where specific conditions are met.</p>
        </li>
        <li>
            <h3>/Hiding-Spot-Identification</h3>
            <p>Endpoint that generates an image showcasing potential hiding spots based on game state data.</p>
        </li>
        <li>
            <h3>/Common-Strategy</h3>
            <p>Endpoint that determines if a specific strategy is commonly used by analyzing the game state data.</p>
        </li>
    </ul>
</body>
</html>
